fish_variables
conf.d/init/anaconda.fish
conf.d/init/findutils.fish
conf.d/init/gettext.fish
conf.d/init/gnu-coreutils.fish
conf.d/init/go.fish
conf.d/init/java.fish
conf.d/init/maven.fish
conf.d/init/path.fish
conf.d/init/asdf.fish
conf.d/z_lua.fish
conf.d/asdf_direnv.fish
conf.d/fish.plugin-brew.fish
conf.d/pb_copy.fish
conf.d/asdf.fish
functions/bbd.fish
functions/brew_update_packages.fish
functions/cat.fish
functions/lmk.fish
functions/lsbundleid.fish
functions/ndone.fish
functions/pfd.fish
functions/pfs.fish
functions/pushdf.fish
functions/rm-relocated.fish
functions/rm.fish
functions/zcat.fish
functions/co.fish
functions/cod.fish
fish_plugins
